<!-- <div *ngIf="check(); then loading else nothing">
  </div>
  <ng-template #loading>
    <app-manualloader></app-manualloader>
  </ng-template>
  <ng-template #nothing>
  </ng-template> -->
  
  <app-dashboardheader></app-dashboardheader>

  <div class="container">
  
      <div class="d-flex content-wrapper">
        <div class="sidebar">
            <app-course-inner-sidebar></app-course-inner-sidebar>
        </div>
       
        <div class="w-100">
            <div class="content">
                <div class="page-title">
                    <div class="row">
                        <div class="col-md-10">
                          <h1><i class="fa fa-book"></i> Your Subjects</h1> 
                       </div>
                   <div class="col-md-2 add-subject">
                    <a href="#"> <i class="fa fa-plus"></i> Add Subject</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="inner-content fill-bg">
              <div class="row">
                    <div class="col-md-3">
                      <div class="blog-wrap mb-30">
                      <div class="blog-img">
                        <img src="https://picsum.photos/640/360" alt="bootcamp Course">
                      </div>
                      <div class="blog-content">
                      <p> Maths</p>
                      <h3>Coaching and consulting bootcamp: Start Your...</h3>
                      </div>
                      </div>
                      </div>
                      <div class="col-md-3">
                        <div class="blog-wrap mb-30">
                        <div class="blog-img">
                          <img src="http://lorempixel.com/400/200/sports" alt="">
                        </div>
                        <div class="blog-content">
                        <p> Sports</p>
                        <h3>Coaching and consulting bootcamp: Start Your...</h3>
                        </div>
                        </div>
                        </div>
                        <div class="col-md-3">
                          <div class="blog-wrap mb-30">
                          <div class="blog-img">
                            <img src="http://lorempixel.com/400/200/sports/Dummy-Text" alt="">
                          </div>
                          <div class="blog-content">
                          <p> English</p>
                          <h3>Coaching and consulting bootcamp: Start Your...</h3>
                          </div>
                          </div>
                          </div>
                          <div class="col-md-3">
                            <div class="blog-wrap mb-30">
                            <div class="blog-img">
                              <img src="https://picsum.photos/640/360" alt="">
                            </div>
                            <div class="blog-content">
                            <p>Science</p>
                            <h3>Coaching and consulting bootcamp: Start Your...</h3>
                          
                            </div>
                            </div>
                            </div>
                            <div class="col-md-3">
                                <div class="blog-wrap mb-30">
                                <div class="blog-img">
                                  <img src="https://picsum.photos/640/360" alt="">
                                </div>
                                <div class="blog-content">
                                <p>Computer</p>
                                <h3>Coaching and consulting bootcamp: Start Your...</h3>
                              
                                </div>
                            </div>
                       </div>  
                     <div class="col-md-3">
                       <div class="add">
                          <div class="template-thumb">
                              <div class="template-img">
                                <a href="#"><img src="../../assets/images/add-new.jpg"></a>
                              </div>
                              <a class="subject mt-20" href="#">Add Subject</a>
                            </div>
                          </div>
                      </div>
            </div>
           </div>
          </div> 
  </div>
</div>


  <app-dashboardfooter></app-dashboardfooter>
