<app-ecom-dash-header></app-ecom-dash-header>



<div class="item-item Container">         
<div class="item-productInfo">
    <div class="order-orderInfo">ORDER NO:
        <span class="order-orderNumber">
          1123558-1986328-0517301
         </span>
         <span class="order-orderDetailsButton">
           All Orders</span>
         </div>
  <div class="item-thumbnail">
    <img src="https://fakeimg.pl/350x200/?text=World&font=lobster">
  </div>
  <div class="item-info">
    <span class="item-brand">Mast &amp; Harbour</span>
    <div class="item-productName"> Women Red Solid Lightweight Bomber </div>
    <span class="item-size">Size: S</span>
    <span> | Qty:1</span>
    <div class="item-priceInfo">
      <div class="priceBreakUp-priceBreakupExpanded">
        <div class="priceBreakUp-topBorder"></div>
        <div class="priceBreakUp-details">
          <div class="priceBreakUp-component"><div>
            <span class="priceBreakUp-key">MRP:</span>
            <span class="icon-icon icon-rupee300 priceBreakUp-rupeeIcon"></span>1,899.00</div>
            <div>
              <span class="priceBreakUp-key">Coupon Discount:</span>
              <span>(-)<span class="icon-icon icon-rupee300 priceBreakUp-rupeeIcon"></span>171.00</span>
            </div><div>
              <span class="priceBreakUp-key"> Item Discount: </span>
              <span>(-)<span class="icon-icon icon-rupee300 priceBreakUp-rupeeIcon"></span>380.00</span>
            </div><div>
              <span class="priceBreakUp-key"> Debit Card: </span><span>
                <span class="icon-icon icon-rupee300 priceBreakUp-rupeeIcon"></span>1,348.00</span>
              </div><div class="priceBreakUp-finalAmount"><span class="priceBreakUp-key">Total:</span>
                <span class="icon-icon icon-rupee300 priceBreakUp-rupeeIcon"></span>1,348.00</div>
              </div>
            </div>
            </div>
          </div>
         </div>
        </div>
      </div>

        
               
<!---Footer Start---->
<div class="checkout-footer">
    <div class="content">
      <div class="images">
        <!--<div class="footer-bank-ssl"></div>-->
        <div class="footer-bank-visa"></div>
        <div class="footer-bank-mc"></div>
        <div class="footer-bank-ae"></div>
        <!--<div class="footer-bank-dc"></div>-->
        <div class="footer-bank-nb"></div>
        <div class="footer-bank-cod"></div>
        <div class="footer-bank-rupay"></div>
        <div class="footer-bank-paypal"></div>
       <!-- <div class="footer-bank-bhim"></div>-->
       <a href="/contactus" class="contact-us"> <span>Need Help ? Contact Us</span> </a>
      </div>
      
    </div>
  </div>
  <!---Footer Start---->