body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  }
  .mt-15{margin-top:15px;
  }
  
.page-fullWidthComponent {
    padding: 10px;
    width: 71%;
    display: inline-block;
    margin: 5px;
}
 
.item-itemContainer {
    margin: 8px 0 16px;
    border-width: 4px;
}
.order-orderInfo {
  padding: 10px 0;
  border-bottom: 1px solid #CCC;
}
.order-orderNumber {
    font-weight: 600;
    font-size: 13px;
    color: #3E4152;
}
.order-orderDetailsButton{
    cursor: pointer;
    float: right;
    color: #fd7705;
    font-weight: 800;
}
.item-item {
    width: 100%;
    overflow: auto;
    background-color: white;
    color: #3E4152;
    position: relative;
}
.item-item .item-productInfo {
    display: block;
    margin: 5px 0 0 0;
    padding: 7px 12px 10px 12px;
    max-width: 960px;
    margin: 50px auto;
    -webkit-box-shadow: 0px 0.5px 2.5px 2px rgba(40, 44, 63, 0.05);
    -moz-box-shadow: 0px 0.5px 2.5px 2px rgba(40, 44, 63, 0.05);
    box-shadow: 0px 0.5px 2.5px 2px rgba(40, 44, 63, 0.05);
}
.item-item .item-productInfo .item-thumbnail {
    display: inline-block;
    width: 90px;
    min-width: 90px;
}
.item-item .item-productInfo .item-thumbnail img {
    border: 1px solid #edeeef;
    height: 108px;
    width: 90px;
    margin-top: 20px;
}
.item-item .item-productInfo .item-info {
    display: inline-block;
    padding: 0px 0px 5px 12px;
    width: 65%;
    vertical-align: top;
    color: #7e818c;
    margin-top: 15px;
}
.item-item .item-productInfo .item-info .item-brand {
    color: #3E4152;
    font-weight: 500;
}
.item-item .item-productInfo .item-info .item-productName {
    margin-top: 4px;
    overflow: hidden;
    white-space: nowrap;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    margin-bottom: 4px;
}
.item-item .item-productInfo .item-info .item-brand {
    color: #3E4152;
    font-weight: 500;
}
.item-item .item-productInfo .item-info .item-productName, .item-item .item-productInfo .item-info .item-size {
    color: #7e818c;
}
.item-item .item-productInfo .item-info .item-productName, .item-item .item-productInfo .item-info .item-size {
    color: #7e818c;
}
.item-item .item-productInfo .item-info .item-priceInfo {
    margin-top: 4px;
}
.priceBreakUp-priceBreakupExpanded {
    display: inline-block;
    font-size: 12px;
    line-height: 18px;
    color: #7e818c;
}
.priceBreakUp-topBorder {
    border-top: 1px solid #d4d5d9;
    margin-top: 3px;
}
.priceBreakUp-priceBreakupExpanded .priceBreakUp-component {
    text-align: right;
    padding: 6px 0px;
}

.priceBreakUp-priceBreakupExpanded .priceBreakUp-key {
    float: left;
    margin-right: 20px;
}
.priceBreakUp-priceBreakupExpanded .priceBreakUp-rupeeIcon {
    font-size: 14px;
}
.priceBreakUp-priceBreakupExpanded .priceBreakUp-finalAmount {
    margin: 6px 0px 0px 0px;
    font-size: 14px;
    padding-top: 5px;
    border-top: 1px solid #d4d5d9;
    font-weight: 800;
    text-align: right;
    color: black;
}
.checkout-footer .content{
  max-width: 980px;
  padding-top: 10px;
  margin: auto;
}
  .footer-bank-ssl {
    background-position: -382px -4px;
    width: 70px;
    height: 37px;
  }
  .footer-bank-visa {
    background-position: -4px -4px;
    width: 60px;
    height: 37px;
  }
  .footer-bank-mc {
    background-position: -66px -4px;
    width: 60px;
    height: 37px;
  }
  .footer-bank-ae {
    background-position: -130px -4px;
    width: 60px;
    height: 37px;
  }
  .footer-bank-dc {
    background-position: -319px -4px;
    width: 60px;
    height: 37px;
  }
  .footer-bank-nb {
    background-position: -532px -4px;
    width: 68px;
    height: 37px;
  }
  .footer-bank-cod {
    background-position: -454px -4px;
    width: 77px;
    height: 37px;
  }
  .footer-bank-rupay {
    background-position: -256px -4px;
    width: 60px;
    height: 37px;
  }
  .footer-bank-paypal {
    background-position: -72px -271px;
    width: 60px;
    height: 37px;
  }
  .footer-bank-bhim {
    background-position: -4px -271px;
    width: 60px;
    height: 37px;
  }
  .checkout-footer .content .contact-us {
    color:#282c3f;
    text-decoration: none;
    font-weight: 600;
  }
  .checkout-footer .content .contact-us span {
    float: right;
    font-size: 14px;
    padding: 10px 0;
  }
  [class^="footer-bank"] {
    background-image: url(/assets/images/sprite-img.png);
    background-size: 2327px 321px;
    overflow: hidden;
    background-repeat: no-repeat;
    display: inline-block;
  }

 
@media (min-width: 480px){

}
  
  /*-------Media Query Begins--------*/
  
  @media screen and (max-width: 1366px) {
    .header .checkout-steps {
      margin: 0 0 0 24%;
      top: 2%;
      position: absolute;
    }
    .secureContainer {
      position: absolute;
      top: 0;
      right: 0;
    }
  }
  
  @media screen and (max-width: 1240px) {
    .header .checkout-steps {
      margin: 0 0 0 21%;
      width: 100%;
      top: 2%;
      position: absolute;
    }
    .secureContainer {
      position: absolute;
      top: 0;
      right: 0;
    }
  }
  @media screen and (max-width: 1080px) {
    .header .checkout-steps {
      margin: 0 0 0 18%;
      width: 100%;
      top: 2%;
      position: absolute;
    }
    .secureContainer {
      position: absolute;
      top: 0;
      right: 0;
    }
  }
  @media screen and (max-width: 991px) {
    .header .checkout-steps {
      margin: 0 0 0 17%;
      width: 100%;
      top: 2%;
      position: absolute;
    }
    .secureContainer {
      position: absolute;
      top: 0;
      right: 0;
    }
  
  }
  
  @media screen and (max-width: 768px) {
    .header .checkout-steps {
      margin: 0 0 0 26%;
      width: 100%;
    }
    .secureContainer {
      position: absolute;
      top: 0;
      right: 0;
    }
    
  }
  @media screen and (max-width: 480px) {
    #mountRoot {
      margin-top: 30px;
    }
    .header .checkout-steps {
      margin: 2% 0 0 -16%;
      width: 85%;
      top: 12%;
      position: absolute;
    }
    .secureContainer {
      position: absolute;
      top: 0;
      right: 0;
    }
    
    
    .checkout-footer .content .contact-us span {
      float: right;
      font-size: 14px;
      padding: 10px 0;
      margin-top: -40px;
      margin-right: 25px;
    }
    .checkout-footer{
      margin: 0px 0px 10px 10px;
    }
  }
  