.add-new-funnel{ position: absolute;right: 10px;top: 48px;}
.add-new-funnel .black-btn{color:#FFF;}
.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link{
    color: #000;
    background-color: transparent !important;
    border-color: transparent !important;
    border-bottom: 2px solid #FE7A1C !important;
    font-weight: 600;
}
.nav-link{
    color: #495057;
}
.nav-tabs{margin-top: 20px;}