<div class="row">
    <div class='col-lg-12 col-5'>
      <ul class="nav nav-tabs" id="myTab-subheader" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" routerLink="steps" routerLinkActive="active"
            aria-controls="steps" aria-selected="true">USERS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="settings" routerLinkActive="active"
            aria-controls="profile" aria-selected="false">DOMAINS</a>
        </li>
      </ul>
    </div>
  </div>
        
        
        <div class="content">
          <div class="page-title">
            <h1><i class="fa fa-users"></i> Users <span class="add-new-funnel">
                <a class="custom-btn btn black-btn" data-toggle="modal" data-target="#basicExample">+ Add User</a></span></h1>
          </div>
        </div>

        <div class="inner-content fill-bg">
            <div class="row">
              <div class="col-md-5">
                <div class="lead-serach">
                  <input class="" placeholder="Search..." type="text">
                  <button type="submit" class="lead-s-btn"><i class="fa fa-search"></i></button>
                </div>
              </div>
            </div>
           <div class="row mt-3">
            <div class="col-md-12">
              <div class="cover-box p-0">
                <div class="table-responsive border-rounded dark-header">
                <table class="table table-striped mb-0 toggle-table">
                  <thead class="thead-dark">
                    <tr>
                      <th>Name</th>
                      <th>Email Id</th>
                      <th>Roll</th>
                      <th>Access</th>
                      <th>Date</th>
                      <th width="50"></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td></td>
                      <td></td>
                      <td class="text-center"><i class="fa fa-trash big-trash"></i></td>
                      <td width="50"><button class="drop-arrow" type="button">
                          <i class="fa fa-sort-desc"></i>
                        </button>
                      </td>
                   </tr>
                   <tr>
                     <td colspan="4" class="p-0 border-0">
                       <div class="detail-outer" mdbCollapse [isCollapsed]="true" #contact01="bs-collapse">
                        <div class="lead-detail-sec">
                         <div class="row">
                         <div class="col-md-4">
                           <div class="given-info">First Name: <span>  </span></div>
                         </div>
                         <div class="col-md-4">
                            <div class="given-info">Last Name: <span>  </span></div>
                          </div>
                          <div class="col-md-4">
                              <div class="given-info">Email: <span>  </span></div>
                          </div>
                            <div class="col-md-4">
                                <div class="given-info">Phone: <span>  </span></div>
                              </div>
                              <div class="col-md-4">
                                  <div class="given-info">Country: <span>  </span></div>
                                </div>
                                <div class="col-md-4">
                                  <div class="given-info">State: <span></span></div>
                                </div>
                                <div class="col-md-4">
                                  <div class="given-info">Postal Code: <span>  </span></div>
                                </div>
                                </div>
                       </div>
                       </div>
                     </td>
                   </tr>
                  </tbody>
                </table>
              </div>
              <!-- Pagination -->
              <div class="pagination-sec mt-2">
                <nav aria-label="Page navigation example">
                  <ul class="pagination pg-blue justify-content-md-end justify-content-center">
                    <li class="page-item disabled"><a class="page-link" tabindex="-1" mdbWavesEffect>Previous</a></li>
                    <li class="page-item"><a class="page-link" mdbWavesEffect>1</a></li>
                    <li class="page-item disabled"><a class="page-link" tabindex="-1" mdbWavesEffect>Next</a></li>
                  </ul>
                </nav>
              </div>
              </div>
            </div>
          </div>
          </div>
      
  
        
  
  
       
  
  
  
       