<div class="row">
    <div class='col-lg-12 col-5'>
      <ul class="nav nav-tabs" id="myTab-subheader" role="tablist">
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active"
            aria-controls="" aria-selected="true">USERS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" routerLinkActive="active"
            aria-controls="" aria-selected="false">DOMAINS</a>
        </li>
      </ul>
    </div>
  </div>
        <div class="content">
            <div class="page-title">
              <h1><i class="fa fa-globe"></i> Domains </h1>
            </div>
        </div>
  
          <div class="inner-content fill-bg">
             <div class="row">
                  <div class="col-lg-12 mg0pd0">
                          <div class="row">
                              <div class="col-md-12">
                               <div class="col-md-8">
                                <div class="row">
                                  <div class="col-md-10">
                                  <label>LANDING PAGE 1</label>
                                  <div class="input-group">
                                      <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1"><i class="fa fa-globe"></i></span>
                                      </div>
                                      <input type="text" class="form-control" placeholder="https://gfunl2019.clickfunnels.com/optin"
                                        aria-label="Url" aria-describedby="basic-addon1">
                                      </div>    
                                  </div> 
                                  <div class="col-md-2">    
                                  <a class="custom-btn btn">Update</a>
                                  </div>
                                  </div>
                                </div>
                              </div> 
                           
                              <div class="col-md-12">
                                  <div class="col-md-8">
                                   <div class="row">
                                     <div class="col-md-10">
                                     <label>LANDING PAGE 1</label>
                                     <div class="input-group">
                                         <div class="input-group-prepend">
                                           <span class="input-group-text" id="basic-addon1"><i class="fa fa-globe"></i></span>
                                         </div>
                                         <input type="text" class="form-control" placeholder="https://gfunl2019.clickfunnels.com/optin"
                                           aria-label="Url" aria-describedby="basic-addon1">
                                         </div>    
                                     </div> 
                                     <div class="col-md-2">    
                                     <a class="custom-btn btn">Update</a>
                                     </div>
                                     </div>
                                   </div>
                                 </div> 
                                
                               
                               
                          </div>
                   </div>
                </div>
            </div>
        
    
          
    
    
         
    
    
    
         