<!-- <div *ngIf="check(); then loading else nothing">
  </div>
  <ng-template #loading>
    <app-manualloader></app-manualloader>
  </ng-template>
  <ng-template #nothing>
  </ng-template> -->
  
  <!-- <app-dashboardheader name={{name}}></app-dashboardheader> -->
  
  <div>
      <div class="content">
        <div class="page-title">
          <h1><div class="settings-icon"><img src="../../assets/images/d-icon1.png"></div> Settings</h1>
        </div>
      </div>
        <div class="inner-content fill-bg">
        <div class="row">
          <div class="col-md-3 col-xs-12">
           <div class="box">
            <a href="#">
              <div class="box-section">
                <div class="icon-section">
                    <img src="../../assets/images/packages.png">
                </div>
            </div>
          </a>
          <a href="#"> <h6>Packages</h6></a>
            </div>
          </div>
          <div class="col-md-3 col-xs-12">
              <div class="box">
               <a href="#">
                 <div class="box-section">
                   <div class="icon-section">
                       <img src="../../assets/images/lp-settings.png">
                   </div>
               </div>
             </a>
             <a href="#"> <h6>Landing Pages</h6></a>
               </div>
             </div>
             <div class="col-md-3 col-xs-12">
                <div class="box">
                 <a href="#">
                   <div class="box-section">
                     <div class="icon-section">
                         <img src="../../assets/images/blogs.png">
                     </div>
                 </div>
               </a>
               <a href="#"> <h6>Blogs</h6></a>
                 </div>
               </div>
               <div class="col-md-3 col-xs-12">
                  <div class="box">
                   <a href="#">
                     <div class="box-section">
                       <div class="icon-section">
                           <img src="../../assets/images/ecom-settings.png">
                       </div>
                   </div>
                 </a>
                 <a href="#"> <h6>Ecommerce</h6></a>
                   </div>
                 </div>
        </div>
        <div class="row mt-20">
                 <div class="col-md-3 col-xs-12">
                    <div class="box">
                     <a href="#">
                       <div class="box-section">
                         <div class="icon-section">
                             <img src="../../assets/images/course-builder-settings.png">
                         </div>
                     </div>
                   </a>
                   <a href="#"> <h6>Course Builder</h6></a>
                     </div>
                   </div>

                   <div class="col-md-3 col-xs-12">
                      <div class="box">
                       <a href="#">
                         <div class="box-section">
                           <div class="icon-section">
                               <img src="../../assets/images/funnels.png">
                           </div>
                       </div>
                     </a>
                     <a href="#"> <h6>Funnels</h6></a>
                       </div>
                     </div>

                     <div class="col-md-3 col-xs-12">
                        <div class="box">
                         <a href="#">
                           <div class="box-section">
                             <div class="icon-section">
                                 <img src="../../assets/images/campaign.png">
                             </div>
                         </div>
                       </a>
                       <a href="#"> <h6>Campaign</h6></a>
                         </div>
                       </div>
                       </div>
       </div>
  </div>
  