<!-- <div *ngIf="check();then loading else donothing">

  </div>
  <ng-template #loading>
    <app-manualloader></app-manualloader>
  </ng-template>
  <ng-template #donothing></ng-template>
  
  <app-dashboardheader name={{name}}></app-dashboardheader> -->
<div class="container">
  <div class="d-flex content-wrapper">
    <div class="sidebar">
      <app-common-settings-sidebar></app-common-settings-sidebar>
    </div>
    <div class="w-100">
      <div class="content">
        <div class="page-title">
          <h1><i class="fa fa-user"></i> Add User</h1>
        </div>
      </div>
      <div class="inner-content fill-bg">
        <div class="add-contact">
          <div class="row">
            <div class="col-md-12">
              <div class="">
                <a href="#" class="heading-black">View Users</a> / Add User
              </div>
              <div class="sub-title heading-black mt-20">
                Add User
              </div>
            </div>
          </div>
          <form>
            <div class="row mt-3">
              <div class="col-md-6 form-group">
                <label>First Name</label>
                <input class="form-control" type="text" name='firstname'>
              </div>

              <div class="col-md-6 form-group">
                <label>Last Name</label>
                <input class="form-control" type="text" name='lastname'>
              </div>

              <div class="col-md-6 form-group">
                <label>Email</label>
                <input class="form-control" type="text" name='email'>
              </div>

              <div class="col-md-6 form-group">
                <label>Phone</label>
                <input class="form-control" type="text" name='phonenumber'>
              </div>
              <div class="col-md-6 form-group">
                <label>Password</label>
                <input class="form-control" name='Password'>
              </div>
              <div class="col-md-6 form-group">
                <label>Confrim Password</label>
                <input class="form-control" name='password'>
              </div>
              <div class="col-md-6 form-group">
                <label>Role</label>
                <select class="form-control" type="text" name='funnel'>
                  <option></option>
                </select>
              </div>
              <div class="col-md-6 form-group">
                <label>Access</label>
                <select class="form-control" type="text" name='funnel'>
                  <option></option>
                </select>
              </div>

            </div>
            <div class="row mt-3">
              <div class="col-md-12 pt-2">
                <a class="custom-btn btn black-btn">Back</a>
                <a class="custom-btn btn">Add New User</a>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<app-dashboardfooter></app-dashboardfooter>