.gjs-f-b22::before {
    content: 'WW';
}
.choose-layout-outer .gjs-four-color-h:hover {
    color: #FD7F26 !important;
}
.color-orange{
    color: #FD7F26 !important;

}

.sub-title {
    font-size: 17px;
    font-weight: 500;
    color: #444242;
    padding-bottom: 3px;
    display: block;
    border-bottom: 1px solid #ccc;
    margin-bottom: 17px;
    padding-bottom: 8px;

}


.footer-colmn-box {

    border: 1px solid #ccc;
    background: #fff;

}
.box-title {
    background: #f9f9f9 url(../../../assets/images/arrow-down.png) no-repeat calc(100% - 15px) center;
    background-size: 14px;
    padding: 8px 11px;
    border-bottom: 1px solid #ddd;
    color: #666;
font-weight: 500;
}
.footer-text-edit .footer-editor-body  {
    padding: 16px;
}
.footer-text-edit label{
    font-size: 13px;
    margin-bottom: 2px;
    color: #888;
}
.widget-content {
	border: 1px solid #c0c0c0 !important;
	border-radius: 3px !important;
	min-height: 140px !important;
    box-shadow: 0 0 2px #ddd !important;
    padding: 16px 13px;
    background: #f4f4f4;
}

.widget-content textarea{
 height: 142px;
width: 100%;
box-shadow: none;
border: 0;
resize: none;
padding: 7px;
border-radius: 7px;
}
.copyright textarea {

    width: 100%;
    border: 1px solid #ccc;
    padding: 10px;

}

ul.select-pages {
    margin: 0;
    padding: 10px 25px;
    max-height: 200px;
    overflow: auto;

}
.select-pages li {
    list-style-type: none;
    margin-bottom: 6px;
    font-size: 14px;
    font-weight: normal;
    color: #464646;
}


.custom-file-label {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
    height: 2.1;
    padding: 0 0.75rem;
    font-weight: 400;
    line-height: 42px;
    color: #495057;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: 0;
    height: 44px;

}

.b-logo input {
    width: 100%;
    height: 44px !important;
    padding: 0 15px;
}
.custom-file-label::after {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: 3;
	display: block;
	height: calc(1.5em + 0.75rem);
	padding: 0 0.75rem;
	line-height: 44px;
	color: #495057;
	content: "Browse";
	background-color: #e9ecef;
	border-left: inherit;
	border-radius: 0;
	height: 42px;
}
.uploaded-img {
    height: 89px;
    width: 177px;
    display: block;
    background: #fff;
    border: 1px solid #ccc;
    padding: 12px;
     justify-content: center;
    align-items: center;
    display: flex;
    position: relative;
    margin-top: 27px;

}
.uploaded-img img {
    max-width: 100%;
max-height: 80px;
}
.remove-img {
    position: absolute;
    right: 5px;
    top: 0px;
    color: #999;
    height: 13px;
}
.social-url .form-control {
    border-radius: 0 0 0 0 !important;
    height: 44px;
}
.social-url i {
    font-size: 27px;
}