<div *ngIf="check(); then loading else nothing">
</div>
<ng-template #loading>
  <app-manualloader></app-manualloader>
</ng-template>
<ng-template #nothing>
</ng-template>

<app-dashboardheader name={{name}}></app-dashboardheader>

  <!-- Steps Start-->
<!-- <div class="steps">
    <div class="container">
      <div class="steps-bar">
          <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: 35%" aria-valuenow="35" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
      </div>

      <div class="points">
        <div class="pin completed">
            <span><i class="fa fa-check"></i></span>
          <p>Store Preference</p>
        </div>
        <div class="pin current">
            <span><i class="fa fa-check"></i></span>
            <p>Select Template</p>
          </div>
          <div class="pin">
              <span><i class="fa fa-check"></i></span>
              <p>Customize Template</p>
            </div>
            <div class="pin">
                <span><i class="fa fa-check"></i></span>
                <p>Publish</p>
              </div>
      </div>
    </div>
  </div> -->
  <!-- Steps End-->

  <div class="container {{opacity}}">

      <div class="d-flex content-wrapper">
        <div class="sidebar">
          <app-inner-sidebar landdingPageID = {{landdingPageID}} contactsCSS="active"></app-inner-sidebar>
        </div>
        <div class="w-100">
    <div class="content">
      <div class="page-title">
        <h1><i class="fa fa-phone"></i> Contacts</h1> 
      </div>
    </div>
      <div class="inner-content fill-bg">
        <div class="row">
          <div class="col-md-5">
            <div class="lead-serach">
              <input class="" placeholder="Search..." type="text">
              <button type="submit" class="lead-s-btn"><i class="fa fa-search"></i></button>
            </div>
          </div>
          <div class="col-md-7">
              <a class="custom-btn simple btn float-right" href="#"><i class="fa fa-download"></i> Export Contacts</a>
              <div class="sec-btns">
              <a class="px-3" (click)="goCreateContact()"><i class="fa fa-plus"></i> Create Contact</a> |
              <a class="pl-3" (click)="goImportContact()"><i class="fa fa-upload"></i> Import Contacts</a>
              </div>
          </div>
        </div>

      <div class="row mt-3" >
        <div class="col-md-12">
          <div class="cover-box p-0">
            <div class="table-responsive border-rounded dark-header">
            <table class="table table-striped mb-0 toggle-table">
              <thead class="thead-dark">
                <tr>
                  <th>Name</th>
                  <th>Email Id</th>
                  <th class="text-center">Action</th>
                  <th width="50"></th>
                </tr>
              </thead>
              <tbody *ngFor="let item of receivedData" [style.visibility]="isDivVisible ? 'visible' : 'hidden'"
              [style.display] = "isDivVisible ? '' : 'none'" >
                <tr>
                  <td>{{item.firstname}} {{item.lastname}}</td>
                  <td>{{item.useremail}}</td>
                  <td class="text-center" (click)="onDelete_Clicked(item)"><i class="fa fa-trash big-trash"></i></td>
                  <td width="50"><button class="drop-arrow" type="button" (click)="contact01.toggle()" mdbWavesEffect>
                    <i class="fas fa-sort-down"></i>
                    </button>
                  </td>
               </tr>
               <tr>
                 <td colspan="4" class="p-0 border-0">
                   <div class="detail-outer" mdbCollapse [isCollapsed]="true" #contact01="bs-collapse">
                    <div class="lead-detail-sec">
                     <div class="row">
                     <div class="col-md-4">
                       <div class="given-info">First Name: <span> {{item.firstname}} </span></div>
                     </div>
                     <div class="col-md-4">
                        <div class="given-info">Last Name: <span> {{item.lastname}} </span></div>
                      </div>
                      <div class="col-md-4">
                          <div class="given-info">Email: <span> {{item.useremail}} </span></div>
                      </div>
                        <div class="col-md-4">
                            <div class="given-info">Phone: <span> {{item.phonenumber}} </span></div>
                          </div>
                          <div class="col-md-4">
                              <div class="given-info">Country: <span> {{item.country}} </span></div>
                            </div>
                            <div class="col-md-4">
                              <div class="given-info">State: <span> {{item.state}} </span></div>
                            </div>
                            <div class="col-md-4">
                              <div class="given-info">Postal Code: <span> {{item.postalcode}} </span></div>
                            </div>
                            </div>
                   </div>
                   </div>
                 </td>
               </tr>
              </tbody>
              <tbody [style.visibility]="!isDivVisible ? 'visible' : 'hidden'"
              [style.display] = "!isDivVisible ? '' : 'none'">
                <tr> <td>No Data Found. </td></tr>
              </tbody>
            </table>
          </div>
          <!-- Pagination -->
          <div class="pagination-sec mt-2">
            <nav aria-label="Page navigation example">
              <ul class="pagination pg-blue justify-content-md-between justify-content-center">
                <li class="page-item {{isPreviousDisabled}}"><a class="page-link" mdbWavesEffect (click) = "onPaginaion_Clicked($event)"><b><< Previous</b></a></li>
                <li class="page-item {{isNextDisabled}}"><a class="page-link" mdbWavesEffect (click) = "onPaginaion_Clicked($event)"><b>Next >></b></a></li>
              </ul>
            </nav>
          </div>
          </div>
        </div>
      </div>

      </div>
    </div> </div>

  </div>
  <app-dashboardfooter></app-dashboardfooter>


