<div class="sidebar-inner">
  <ul>
    <li class="dropdown" mdbDropdown><a href="#"><i class="fa fa-caret-right"></i> Art</a>
      <a mdbDropdownToggle mdbBtn class="dropdown-toggle btn custom-blank-btn waves-light" type="button"
      mdbWavesEffect>
       </a>
        <ul class="dropdown-menu sub-menu">
          <li><a href="#"><i class="fa fa-caret-right"></i> Landing</a></li>
          <li><a href="#"><i class="fa fa-caret-right"></i> Blog</a></li>
          <li><a href="#"><i class="fa fa-caret-right"></i> E-commerce</a></li>
          <li><a href="#"><i class="fa fa-caret-right"></i> Course Builder</a></li>
        </ul>
      </li>
    <li><a href="#"><i class="fa fa-caret-right"></i> Technology</a></li>
    <li><a href="#"><i class="fa fa-caret-right"></i> Immigration</a></li>
    <li><a href="#"><i class="fa fa-caret-right"></i> Books</a></li>
    <li><a href="#"><i class="fa fa-caret-right"></i> Beauty & Wellness</a></li>
    <li><a href="#"><i class="fa fa-caret-right"></i> Photography</a></li>
    <li><a href="#"><i class="fa fa-caret-right"></i> Relationship</a></li>
    <li><a href="#"><i class="fa fa-caret-right"></i> Pets</a></li>
    <li><a href="#"><i class="fa fa-caret-right"></i> Music</a></li>



  </ul>
</div>
