<div *ngIf="check(); then loading else nothing">
</div>
<ng-template #loading>
  <app-manualloader></app-manualloader>
</ng-template>
<ng-template #nothing>
</ng-template>

<div class="layout">
  <div class="header">
    <div class="site-nav-container container">
      <div class="gfunl-logo" (click)="openDashboard()">
        <a class="linkClean">
          <img class="gfunl-logo" src="{{logoLocation}}" alt="logo">
        </a>
      </div>
      <ol class="checkout-steps">
        <li class="step step1 active">CART</li>
        <li class="divider"></li>
        <li class="step step2">ADDRESS</li>
        <li class="divider"></li>
        <li class="step step3">PAYMENT</li>
      </ol>
      <div class="secureContainer">
        <div class="sprite-secure secureIcon"></div>
        <div class="secure">100% SECURE</div>
      </div>
    </div>
  </div>
  <div id="mountRoot">
    <div class="desktop-base-cartLayout">
      <div class="itemBlock-base-leftBlock">
        <div class="offers-base-container">
          <div class="offers-base-title">Available Offers</div>
          <div class="offer-div">
            <li class="offers-base-message">10% Instant Discount on HDFC Debit and Credit Cards on a min spend of Rs
              3000. TCA</li>
            <div class="offers-base-more">Show More&nbsp;<span class="offers-base-icon"><i
                  class="fas fa-chevron-down"></i></span></div>
          </div>
        </div>
        <div class="yay">
          <div class="shippingTip-base-deliveryTip">
            <div class="sprite-ship-free shippingTip-base-tipIcon"></div>
            <div class="shippingTip-base-tipMessage">Yay!<span class="shippingTip-base-tipBold">&nbsp;Free
                Delivery&nbsp;</span>on this order.</div>
          </div>
        </div>
        <div class="headerComponents-base-container">
          <div class="sprite-price-drop headerComponents-base-priceDropIcon"></div>
          <div class="headerComponents-base-header">Prices Have Dropped</div>
          <div class="ptext">The price of one or more items in your bag has dropped. Buy them now!</div>
          <div class="headerComponents-base-button">OK, GOT IT</div>
        </div>
        <div class="itemBlock-base-itemHeader">
          <div class="shopng">My Shopping cart ({{cartCount}} Items)</div>
          <div class="itemBlock-base-totalCartValue">Total:<span class="itemBlock-base-rupeeIcon">&nbsp;<i
                class="fas fa-dollar-sign"></i></span>{{bagTotal | number : '1.2-2'}}</div>
        </div>

        <!---Cart Items Listing Start--->

        <div id="cartItemsList" *ngFor="let cart of cartListData">
          <div class="itemContainer-base-itemMargin">
            <div>
              <div class="item-base-item">
                <div class="itemContainer-base-item ">
                  <div class="itemContainer-base-itemLeft">
                    <a href="#">
                      <div class="item-photo">
                        <div class="LazyLoad is-visible">
                          <picture class="image-base-imgResponsive" style="width: 100%;">
                            <img src="{{cart.productImages}}" class="image-base-imgResponsive" alt="image"
                              style="width: 100%;">
                          </picture>
                        </div>
                      </div>
                    </a>
                  </div>
                  <div class="itemContainer-base-itemRight">
                    <div class="itemContainer-base-details">
                      <div>
                        <div class="itemContainer-base-brand">{{cart.descriptionTitle}}</div>
                        <a class="itemContainer-base-itemLink">{{cart.itemVarient}}</a>
                      </div>
                      <!-- <div class="itemComponents-base-sellerData">Sold by: xyz Seller</div> -->
                      <div class="itemContainer-base-sizeAndQty">
                        <div class="itemComponents-base-size">
                          <span class="">Size: {{cart.itemSize}}</span>
                          <span class=" itemComponents-base-dropDown">
                            <i class="fas fa-sort"></i></span>
                        </div>
                        <div class="itemComponents-base-quantity">
                          <span class="">Qty: {{cart.itemQty}}</span>
                          <span class="itemComponents-base-dropDown">
                            <i class="fas fa-sort"></i></span>
                        </div>
                      </div>
                      <div class="">
                        <div class="itemComponents-base-price itemComponents-base-bold itemContainer-base-amount">
                          <div class="toolTip-base-container">
                            <div class="toolTip-base-toolTip" id="toolTip-1">
                              <div class="spanss">
                                <span class="itemComponents-base-rupeeIcon itemComponents-base-bold">
                                  <i class="fas fa-dollar-sign"></i></span>
                                <span> {{cart.totalAmountOfItem | number : '1.2-2'}}</span>
                              </div>
                            </div>
                          </div>
                        </div>
                        <!-- <div class="itemContainer-base-discountStrikedAmount">
                          <span class="itemComponents-base-strikedAmount">
                            <span
                              class="itemComponents-base-price itemComponents-base-strike itemContainer-base-strikedAmount">
                              <span class="itemComponents-base-rupeeIcon "><i class="fas fa-dollar-sign"></i></span>1,499</span>
                          </span>
                          <span class="itemComponents-base-itemDiscount">40% OFF</span>
                        </div> -->
                      </div>
                      <div>
                      </div>
                    </div>
                  </div>
                  <div class="inlinebuttonV2-base-actions ">
                    <div class="inlinebuttonV2-base-action itemContainer-base-itemActions" (click) = "onRemoveItem_Clicked(cart)">
                      <button
                        class="inlinebuttonV2-base-actionButton itemContainer-base-inlineButton removeButton">Remove</button>
                    </div>
                    <div class="inlinebuttonV2-base-action itemContainer-base-itemActions" (click) = "onMoveToWishList_Clicked(cart)">
                      <button
                        class="inlinebuttonV2-base-actionButton itemContainer-base-inlineButton  wishlistButton">Move to
                        WishList</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>



        </div>

        <!---Cart Items Listing End--->

      </div>
      <!----Billing Section------>
      <div class="desktop-base-right">
        <div>
          <div>
            <div>
              <div class="coupons-base-header">Coupons</div>
              <div class="coupons-base-content">
                <span class="coupons-base-couponIcon"><i class="fa fa-tags" aria-hidden="true"></i></span>
                <div class="coupons-base-label ">Apply Coupons</div>
                <div>
                  <!-- <button class="coupons-base-button">APPLY</button> -->
                  <button type="button" class="relative waves-light coupons-base-button" (click)="basicModal.show()"
                    mdbWavesEffect>APPLY</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="priceBlock-base-container">
          <div class="priceBlock-base-priceHeader">PRICE DETAILS</div>
          <div class="priceBreakUp-base-orderSummary" id="priceBlock">
            <div class="priceDetail-base-row"><span>Bag Total</span>
              <span class="priceDetail-base-value ">
                <span></span>
                <span class=" priceDetail-base-icon"><i class="fas fa-dollar-sign" aria-hidden="true"></i></span>
                <span>{{bagTotal | number : '1.2-2'}}</span>
              </span>
            </div>
            <div class="priceDetail-base-row">
              <span>Bag discount</span>
              <span class="priceDetail-base-value priceDetail-base-discount">
                <span>-</span>
                <span class="priceDetail-base-icon"><i class="fas fa-dollar-sign" aria-hidden="true"></i></span>
                <span>{{bagDiscount | number : '1.2-2'}}</span>
              </span>
            </div>
            <div class="priceDetail-base-row">
              <span>Tax&nbsp;</span>
              <span class="priceDetail-base-infoIcon"><i class="fa fa-info-circle" aria-hidden="true"></i></span>
              <span class="priceDetail-base-value">
                <span class="priceDetail-base-icon"><i class="fas fa-dollar-sign" aria-hidden="true"></i></span>
                <span>{{bagTax | number : '1.2-2'}}</span>
              </span>
            </div>
            <div class="priceDetail-base-row">
              <span>Coupon Discount</span>
              <span class="priceDetail-base-value priceDetail-base-action" (click)="basicModal.show()"
              mdbWavesEffect>{{discountCoupon}}</span>
            </div>
            <div class="priceDetail-base-row">
              <span>Order Total</span>
              <span class="priceDetail-base-value ">
                <span></span>
                <span class="priceDetail-base-icon"><i class="fas fa-dollar-sign" aria-hidden="true"></i></span>
                <span>{{orderTotal | number : '1.2-2'}}</span>
              </span>
            </div>
            <div class="priceDetail-base-row">
              <span>Delivery Charges</span>
              <span class="priceDetail-base-value">
                <span class="priceDetail-base-striked priceDetail-base-spaceRight">
                  <span class="priceDetail-base-icon"><i class="fas fa-dollar-sign" aria-hidden="true"></i></span>
                  <span>149</span>
                </span>
                <span class="priceDetail-base-discount">FREE</span>
              </span>
            </div>
            <div class="priceDetail-base-total">
              <span>Total</span>
              <span class="priceDetail-base-value ">
                <span></span>
                <span class="priceDetail-base-icon"><i class="fas fa-dollar-sign" aria-hidden="true"></i></span>
                <span>{{grandTotal | number : '1.2-2'}}</span>
              </span>
            </div>
          </div>
        </div>
        <div (click) = "onPlaceOrder_Clicked()">
          <a>
            <div class="button-base-button ">Place Order</div>
          </a>
        </div>
      </div>
      <!----Billing Section------>
    </div>
  </div>
  <!---Footer Start---->
  <div class="checkout-footer">
    <div class="content">
      <div class="images">
        <!--<div class="footer-bank-ssl"></div>-->
        <div class="footer-bank-visa"></div>
        <div class="footer-bank-mc"></div>
        <div class="footer-bank-ae"></div>
        <!--<div class="footer-bank-dc"></div>-->
        <div class="footer-bank-nb"></div>
        <div class="footer-bank-cod"></div>
        <div class="footer-bank-rupay"></div>
        <div class="footer-bank-paypal"></div>
        <!-- <div class="footer-bank-bhim"></div>-->
      </div>
      <a href="/contactus" class="contact-us"> <span>Need Help ? Contact Us</span> </a>
    </div>
  </div>
  <!---Footer Start---->
</div>

<!---Modal Start---->
<div mdbModal #basicModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close pull-right" aria-label="Close" (click)="basicModal.hide()">
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title w-100" id="myModalLabel">Available Coupons</h4>
      </div>
      <div class="modal-body gfunl-body">
        <div class="row gfunl_wrapper" *ngFor="let item of discountListData" (click)="onDiscount_Click(item)">
          <div class="gfunl-coupon">
            <div class="col-md-12  gfunl-coupon-default">
              <div class="col-md-3">
                <div class="coupon-discount-text"> {{item.discount}} Off</div>
                <div class="coupon-type"> Discount</div>
              </div>
              <div class="col-md-9 gfunl-coupon-content">
                <div class="row gfunl-coupon-header">
                  <div class="col-md-8">
                    <h3 class="gfunl-coupon-title"> Discount Coupon </h3>
                    <div class="gfunl-coupon-validity float-left">
                      <div class="gfunl-coupon-expire"> Expires on: {{item.endDate | date: 'dd-MM-yyyy'}}</div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="gfunl-coupon-code">
                      <a rel="nofollow" class="gfunl-btn-16 masterTooltip gfunl-btn gfunl-coupon-button"
                        target="_blank" data-clipboard-text="SAMPLECODE" title="Click To Copy Coupon">
                        <span class="gfunl_coupon_icon">
                          <img class="" src="assets/images/coupon-code-24.png" style="width: 100%;height: 100%;">
                        </span> {{item.discountCode}}
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-12 gfunl-coupon-default">
              <div class="gfunl-coupon-description">
                <span class="gfunl-full-description">
                  <p>{{item.summary}}</p>
                </span>
                <span class="gfunl-full-description">
                <label class="font-design">Minimum Requirement:</label>
                <p>Buy course of 100$ to avail this discount</p>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="modal-footer">
        <button type="button" mdbBtn color="light" class="waves-light" aria-label="Close" (click)="basicModal.hide()"
          mdbWavesEffect>Close</button>
        <button type="button" mdbBtn color="warning" class="relative waves-light" mdbWavesEffect>Save</button>
      </div> -->
    </div>
  </div>
</div>

<!---Modal END---->
