<app-dashboardheader name="{{name}}"></app-dashboardheader>
<div *ngIf="check(); then loading else nothing">
</div>
<ng-template #loading>
  <app-manualloader></app-manualloader>
</ng-template>
<ng-template #nothing>
</ng-template>
<div class="container">

  <div class="d-flex content-wrapper">
    <div class="sidebar">
      <app-ec-theme-editor-sidebar></app-ec-theme-editor-sidebar>
    </div>
    <div class="w-100">
      <div class="content">
        <div class="page-title">
          <h1><i class="fa fa fa-image"></i> Image with text</h1>
        </div>
      </div>
      <div class="inner-content fill-bg mt-1">
        <div class="row">
          <!--Row-->
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-6">
                <div class="product-detail-box">
              <div class="p-box-title">Upload Image</div>
              <div class="box-content">
                <div class="uploaded-file">
                  <a href="#" class="close">x</a>
                  <input type="file" (change)="readURL($event);">
                  <label class="drop-file-here"><i class="fas fa-cloud-upload-alt"></i>
                    <span>Upload images</span>
                  </label>
                </div>
              </div>
            </div>
              </div>
              <div class="col-md-6">
                <div class="uploaded-slides">
                  <div class="p-box-title">Preview Image</div>
              <div class="slide">
                <a class="close" style="z-index:9999999999 !important;" (click)="removeImage()">x</a>
                <img src="{{ecommerceImageText.selectedImage}}">
              </div>
            </div>
              </div>
            </div>
            
            
          </div>
          <div class="col-md-12">
            <div class="product-detail-box">
              <div class="p-box-title">Image Text</div>
              <div class="box-content">
                <div class="form-group">
                  <app-ngx-editor [config]="editorConfig" [placeholder]="'Enter text here...'" [spellcheck]="true"
                    [(ngModel)]="ecommerceImageText.imageContent" imageEndPoint="http://myApiEndPoint"></app-ngx-editor>
                </div>
              </div>
            </div>

          </div>

        </div>


        <div class="row">
          <!--Row-->
          <div class="col-md-12 mt-3">
            <a class="float-right btn custom-btn" (click)="onSubmit()">Submit</a>
          </div>
        </div>
      </div>

    </div>
  </div>

</div>
<app-dashboardfooter></app-dashboardfooter>
