<app-dashboardheader></app-dashboardheader>

<div class="container">

  <div class="d-flex content-wrapper">
    <div class="sidebar">
        <app-funnel-sidebar></app-funnel-sidebar>
    </div>
    <div class="w-100">
        <div class="content">
            <div class="page-title">
              <h1><i class="fa fa-book"></i> Affiliate Program</h1> 
            </div>
          </div>
          <div class="inner-content fill-bg">
              <div class="add-contact">
                <form>
             <div class="row mt-3">
              <div class="col-md-7">
                  <span class="heading Heading__h1">
                    Work on your <strong> own terms &amp; earn commission</strong>
                 </span>
                 <span class="heading Heading__h3">Ready to earn some extra money? <div> 
                  </div>
                </span>     
             
                 <ul class="affilate__list">
                   <li class="affilate__list__item">
                     <div>
                       <div class="affilate-main">
                        <div class="affilate-head">
                          <img src="../../assets/images/join-icon.png" alt="Product that sells itself" width="80px" class="">
                        </div>
                          <div class="affilate-data">
                            <span class="heading Heading__h4">Product that sells itself</span>
                            <p class="affilate-paragraph">
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
                            </p>
                          </div>
                        </div>
                        </div>
                    </li>
                    <li class="affilate__list__item">
                        <div>
                          <div class="affilate-main">
                           <div class="affilate-head">
                             <img src="../../assets/images/affiliate-icon.png" alt="Product that sells itself"width="80px" class="">
                           </div>
                             <div class="affilate-data">
                               <span class="heading Heading__h4">Product that sells itself</span>
                               <p class="affilate-paragraph">
                                  Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
                               </p>
                             </div>
                           </div>
                           </div>
                       </li>
                       <li class="affilate__list__item">
                          <div>
                            <div class="affilate-main">
                             <div class="affilate-head">
                                <img src="../../assets/images/affiliate_marketing.png" alt="Product that sells itself" width="80px" class="">
                             </div>
                               <div class="affilate-data">
                                 <span class="heading Heading__h4">Product that sells itself</span>
                                 <p class="affilate-paragraph">
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s. 
                                 </p>
                               </div>
                             </div>
                             </div>
                         </li>
                     </ul>
              </div>
                <div class="col-md-5">
                 <div class="main-div">
                  <div class="Panel__panel">
                    <span class="heading Heading__h2">Become a Partner</span>
                    <form>
                      <div class="main-head">
                      <div class="main-div">
                        <label class="Label__label" style="padding: 0 60px 0 0;">First Month commission:</label>
                        <span class="heading Heading__h3">30%</span>
                      </div>
                      <div class="label-head">
                        <label class="Label__label" style="padding: 0;">Subsequent months:</label>
                        <span class="heading Heading__h3">25%</span>
                      </div>
                    </div>
                  
                    <div class="spacer Spacer__spacer--small"></div>
                    <div>
                      <select class="Select__select" name="occupation" id="occupation">
                          <option value="" hidden="">What do you do?</option>
                          <option value="agency">I'm a marketing agency employee</option>
                          <option value="blogger">I'm a blogger</option>
                          <option value="training">I'm a coach</option>
                          <option value="influencer">I'm a martech influencer</option>
                          <option value="events">I'm an event manager</option>
                          <option value="marketer">I'm an affiliate marketer</option>
                          <option value="events">Other</option>
                      </select>
                    </div>
                    <div class="spacer Spacer__spacer--small "></div>
                    <div class="Radio__input__radiogroup mt-15"><fieldset>
                      <label class="Label__label">Joining as an idividual or company?</label>
                      <div class="main-head">
                        <div class="main-div">
                          <label class="Radio__input__radio">
                            <label for="individual">An individual</label>
                            <input name="isCompany" id="individual" type="radio" class="Radio__input__radio" value="individual"><div>
                            </div>
                          </label>
                        </div>
                        <div class="main-div">
                          <label class="Radio__input__radio">
                            <label for="company">Company</label>
                            <input name="isCompany" id="company" type="radio" class="Radio__input__radio" value="company"><div>
                              </div>
                           </label>
                          </div>
                        </div>
                      </fieldset>
                    </div>
                    <div class="spacer Spacer__spacer--small mt-15"></div>
                    <label class="Checkbox__input__checkbox">
                      <label for="terms">
                        <dl class="Html__html">I accept
                           <a target="_blank" href="#"> Affiliate Program terms and conditions.</a>
                          </dl>
                        </label>
                        <input name="terms" id="terms" type="checkbox" value="false"><div>
                        </div>
                      </label>
                      <div class="spacer Spacer__spacer--small"></div>
                      <a class="custom-btn btn">Join the Affiliate Program</a>
                    </form>
                    </div>
                  </div>
                </div>
              </div>
             </form>
            </div>
            </div>
        </div>
      </div>
    </div>
    <app-dashboardfooter></app-dashboardfooter>