<app-dashboardheader></app-dashboardheader>
<!-- Steps Start-->
<div class="steps">
  <div class="container">
    <div class="steps-bar">
      <div class="progress">
        <div class="progress-bar" role="progressbar" style="width: 35%" aria-valuenow="35" aria-valuemin="0"
          aria-valuemax="100"></div>
      </div>
    </div>

    <div class="points">
      <div class="pin completed">
        <span><i class="fa fa-check"></i></span>
        <p>Store Preference</p>
      </div>
      <div class="pin current">
        <span><i class="fa fa-check"></i></span>
        <p>Select a template</p>
      </div>
      <div class="pin">
        <span><i class="fa fa-check"></i></span>
        <p>Customize Template</p>
      </div>
      <div class="pin">
        <span><i class="fa fa-check"></i></span>
        <p>Publish</p>
      </div>
    </div>
  </div>
</div>
<!-- Steps End-->

<div class="container">
  <div class="category-type py-5">
    What type of course you want to build?
  </div>

  <div class="categories pb-5">
    <ul>
      <li>
        <a>Individual <i class="fa fa-long-arrow-right"></i></a>
        <img src="../../assets/images/individual_icon.png" alt="">
      </li>
      <li><a>Training Academy <i class="fa fa-long-arrow-right"></i></a>
        <img src="../../assets/images/training-icon.png" alt="">

      </li>
      <li><a>School <i class="fa fa-long-arrow-right"></i></a>
        <img src="../../assets/images/school-icon.png" alt="">
      </li>
    </ul>
  </div>
</div>
<app-dashboardfooter></app-dashboardfooter>