<!-- <div>
  </div>
  <ng-template #loading>
    <app-manualloader></app-manualloader>
  </ng-template>
  <ng-template #nothing>
  </ng-template>

  <app-dashboardheader name={{name}}></app-dashboardheader>
  <app-course-sub-header></app-course-sub-header> -->
<!-- Steps Start-->
<!-- <div class="steps">
    <div class="container">
      <div class="steps-bar">
          <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: 35%" aria-valuenow="35" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
      </div>

      <div class="points">
        <div class="pin completed">
            <span><i class="fa fa-check"></i></span>
          <p>Store Preference</p>
        </div>
        <div class="pin current">
            <span><i class="fa fa-check"></i></span>
            <p>Select Template</p>
          </div>
          <div class="pin">
              <span><i class="fa fa-check"></i></span>
              <p>Customize Template</p>
            </div>
            <div class="pin">
                <span><i class="fa fa-check"></i></span>
                <p>Publish</p>
              </div>
      </div>
    </div>
  </div> -->
<!-- Steps End-->

<!-- <div class="container">
      <div class="d-flex content-wrapper">
        <div class="sidebar">
            <app-course-lesson-add-video-sidebar></app-course-lesson-add-video-sidebar>
        </div>
  <div class="w-100"> -->
    <div class="inner-content inner-content-subheader fill-bg">
        <div class="add-contact">
          <div class="row">
            <div class="col-md-12">
              <div class="pull-right">
                <a class="custom-btn btn black-btn" (click)="onDelete_Clicked()">Delete</a>
                <a class="custom-btn btn" (click)="OnUpdateVideo_Click()">Update</a>
                <!-- <a href="#" class="detail-icon"><i class="fa fa-2x fa-ellipsis-v" aria-hidden="true"></i></a> -->
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <h4><strong>Video</strong></h4>
              <div class="form-group module-section">
                <label>Video title</label>
                <input class="form-control" type="text" [(ngModel)]="videoTitle" name='videoTitle'>
                <!-- <div class="mt-6">
                          <input type="checkbox" name="name" value="name"> <span class="save-draft">Save as draft</span> <i class="fa fa-info" aria-hidden="true"></i>
                          </div> -->
                <label style="padding-top: 10px;">Description</label>
                <!-- <textarea class="form-control" rows="4" type="text" [(ngModel)]="videodescription" name='videodescription'></textarea> -->
                <app-ngx-editor [config]="editorConfig" [placeholder]="'Enter text here...'" [spellcheck]="true"
                [(ngModel)]="videodescription" name='videodescription' imageEndPoint="http://myApiEndPoint"></app-ngx-editor>
              </div>
            </div>
          </div>
      
          <div class="row">
            <div class="col-md-12">
              <div class="upload mg0pd0">
                <div class="upload-file">
                  <div class="file-text">
                    {{selectedVideoFileName}}
                  </div>
                  <!-- <div class="or">
                          or
                        </div> -->
      
                  <div class="select-file">
                    <label class="btn-bs-file btn btn-lg btn-primary">
                      SELECT FILES
                      <input type="file" accept=".mjpeg,.mkv,.mp4,.mpg4,.ogg,.m4v" (change)="onFileUpload($event)" />
                    </label>
                  </div>
                  <div class="upload-size">
                    <div class="upload-text">
                      You can upload files with the extensions: mjpeg, mkv, mp4, mpg4, ogg, m4v
                    </div>
                  </div>
                </div>
      
                <div class="form-group module-section">
                  <label>Embedded Video Link</label>
                  <input class="form-control" type="text" [(ngModel)]="embendedVideoLink" name='embendedVideoLink'>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- </div>
        </div>
        <app-dashboardfooter></app-dashboardfooter> -->