.mg0pd0{margin:0;padding:0;}
.course-content.fill-bg {
    margin-top: 0 !important;
    margin-bottom: 20px;
}
.w-100 h3{margin-top: 30px;}
.mt-15{margin-top: 15px;}
.mt-20{margin-top: 20px;}
.pb-20{padding-bottom:20px;}

.course-wrapper{max-width:980px;margin: 0 auto;}

.opacity{
    opacity: 0.5;
  }