.map-field-heading{color: black;}
.map-fields-note{display: block;}
.mg0pd0{margin: 0;padding: 0;}
.is-text{float: right;}
.mt-20{margin-top: 20px;}
.mapfield-mt-5{margin-top: 5px;display: block;}
.mapfield-pt-20{padding:20px 0;}