<div class="template-thumb">
  <div class="template-img"><img src="../../assets/images/t-thumb.jpg">
  <div class="overlay-cont">
          <button class="btn btn-square" type="button"  color="default" rounded="true" 
                  (click) = "previewTemplate()" data-toggle="modal" data-target="#basicExample" 
                  mdbWavesEffect>Preview</button>
          <a (click)="customizeTemplate()" class="btn btn-square transparent">Customize</a>
  </div>
  </div>
  <div class="template-name">{{temp_name}}</div>
</div>