<div *ngIf="check(); then loading else nothing">
</div>
<ng-template #loading>
  <app-manualloader></app-manualloader>
</ng-template>
<ng-template #nothing>
</ng-template>

<app-dashboardheader name={{name}}></app-dashboardheader>

<div class="container">

  <div class="d-flex content-wrapper">
    <div class="sidebar">
      <app-funnel-sidebar></app-funnel-sidebar>
    </div>
    <div class="w-100">
      <div class="content">
        <div class="page-title">
          <h1><i class="fa fa-phone"></i> Contacts</h1>
        </div>
      </div>
      <div class="inner-content fill-bg">
        <div class="add-contact">
          <div class="row">
            <div class="col-md-12">
              <div class="">
                <a href="#" class="heading-black">View Contacts</a> / Add Contact
              </div>
              <div class="sub-title heading-black mt-20">
                Create New Contact
              </div>
            </div>
          </div>
          <form>
            <div class="row mt-3">
              <div class="col-md-4 form-group">
                <label>First Name</label>
                <input class="form-control" type="text" [(ngModel)]="createContactParam.contfirstName" name='firstname'>
              </div>

              <div class="col-md-4 form-group">
                <label>Last Name</label>
                <input class="form-control" type="text" [(ngModel)]="createContactParam.contlastName" name='lastname'>
              </div>

              <div class="col-md-4 form-group">
                <label>Email</label>
                <input class="form-control" type="text" [(ngModel)]="createContactParam.contEmail" name='email'>
              </div>

              <div class="col-md-4 form-group">
                <label>Phone</label>
                <input class="form-control" type="text" [(ngModel)]="createContactParam.contPhone" name='phonenumber'>
              </div>
              <div class="col-md-4 form-group">
                <label>Address 1</label>
                <textarea class="form-control" [(ngModel)]="createContactParam.contAddress1" name='address1'></textarea>
              </div>
              <div class="col-md-4 form-group">
                <label>Address 2</label>
                <textarea class="form-control" [(ngModel)]="createContactParam.contAddress2" name='address2'></textarea>
              </div>
              <div class="col-md-4 form-group">
                <label>Funnel</label>
                <select class="form-control" type="text" [(ngModel)]="createContactParam.funnelID" name='funnel'>
                  <option *ngFor="let funnel of funnels" [value]="funnel._id">{{funnel.funnel_name}}</option>
                </select>
              </div>
              <div class="col-md-4 form-group">
                <label>Postal Code</label>
                <input class="form-control" type="text" [(ngModel)]="createContactParam.contPincode"
                  (input)="onEnterPincode();" name='postalcode'>
              </div>
              <div class="col-md-4 form-group">
                <label>Country</label>
                <input class="form-control" type="text" [(ngModel)]="createContactParam.contCountry" name='country'
                  readonly>
                <!-- <select class="form-control" type="text" [(ngModel)]="createContactParam.contCountry" name='country'
                  (change)="onSelectCountry()">
                  <option *ngFor="let country of countries" [value]="country.value">{{country.text}}</option>
                </select> -->
              </div>

              <div class="col-md-4 form-group">
                <label>State</label>
                <input class="form-control" type="text" [(ngModel)]="createContactParam.contState" name='state'
                  readonly>
                <!-- <select class="form-control" type="text" [(ngModel)]="createContactParam.contState" name='state'
                  [disabled]="!createContactParam.contCountry"></select> -->
              </div>

              <div class="col-md-4 form-group">
                <label>City</label>
                <input class="form-control" type="text" [(ngModel)]="createContactParam.contCity" name='city'
                  readonly>
                <!-- <select class="form-control" type="text" [(ngModel)]="createContactParam.contCity" name='city'
                  [disabled]="!createContactParam.contState"></select> -->
              </div>
            </div>
            <div class="row mt-3">
              <div class="col-md-12 pt-2">
                <a class="custom-btn btn black-btn" (click)="onClear()">Clear</a>
                <a class="custom-btn btn" (click)="onSaveContact()">Save</a>
              </div>
            </div>
          </form>


        </div>

      </div>
    </div>
  </div>

</div>
<app-dashboardfooter></app-dashboardfooter>
