.box-content{
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 15px;
    background: #fff;
}

.p-box-title {
    font-size: 16px;
    color: #171717;
    margin-bottom: 8px;
    font-weight: 600;

}
.country-label {
    font-size: 19px;
    line-height: 35px;
    font-weight: 300;
    color: #666;
}
.black-btn.simple {
    box-shadow: none !important;
    border: 0 !important;
    padding: 4px 20px;
    min-width: auto;
    font-weight: 300 !important;
    font-size: 13px !important;
    min-width: 90px !important;

}

.orange-btn.simple {
    box-shadow: none !important;
    border: 0 !important;
    padding: 4px 20px;
    min-width: auto;
    font-weight: 300 !important;
    font-size: 13px !important;
    min-width: 90px;

}
.custom-table th, .custom-table td {

    padding: 7px 8px !important;

}
.ec-action a {
    width: 30px;
    height: 30px;
    border: 1px solid #666;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    padding-top: 2px;
    margin: 0 3px !important;
    font-size: 17px;
}
.form-control.sm-height {
    height: 31px !important;
    padding: 5px !important;
    min-height: inherit !important;
    border-radius: 0 !important;
}
.custom-table td {
    background: #fff !important;
}

.dark-header {
    box-shadow: 0px 0px 1px #777 !important;

}
.notifications .form-control {
    height: 55px;
    box-shadow: none !important;
    border: 1px solid #d7d7d7 !important;
    min-width: 300px;
}
label.notify {
    color: blue;
    padding: 11px 14px;
}