<div *ngIf="check();then thenBlock else elseBlock">
</div>
<ng-template #thenBlock>
  <div>
      <app-manualloader></app-manualloader>
  </div>
</ng-template>
<ng-template #elseBlock>
</ng-template>
<div class="model-outer " >

  <a >
      <div class="site-logo">
          <img src="../../assets/images/logo.png">
      </div>
  </a>
  <div class="sign-box">
    <div class="sign-header">
      welcome to Gfunl
    </div>
    <h3 class="sign-title">Reset Password</h3>
    <form class="px-lg-5 px-3">
      <div *ngIf="success(); then emailBlock else resetPasswordBlock">
      </div>
      <ng-template #emailBlock>
        <div class="form-row form-group pb-3">
            <input class="form-control email" placeholder="Email" type="email" [(ngModel)]="email" name="email" [(ngModel)]="email">
        </div>
        <div class="col-md-12 text-center">
            <input type="button" class="btn custom-btn" value="Send" (click)="sendEmail()">
        </div>
      </ng-template>
      <ng-template #resetPasswordBlock>
          <div class="form-row form-group pb-3">
              <div class="col-md-12">
                <input class="form-control user-name" placeholder="Enter 4 digit OTP" type="text" [(ngModel)]="otp" name='username'>
              </div>
            </div>
            <div class="form-row form-group pb-3">
              <div class="col-md-12">
                <input class="form-control email" placeholder="New Password" type="password" [(ngModel)]="password" name="password">
              </div>
            </div>
            <div class="form-row form-group pb-3">
              <div class="col-md-12">
                <input class="form-control email" placeholder="Confirm Password" type="password" [(ngModel)]="confirmPassword" name="confirmPassword">
              </div>
            </div>
            <!-- <div class="form-row form-group">
                <div class="col-6 pb-3">
                 <label class="remember"> <input type="checkbox"> Remember Me </label>
                </div>
                <div class="col-6 pb-3 text-right">
                <a class="forgot-pwd" href="#">Forget Password?</a>
                </div>
              </div> -->
            <div class="form-row form-group pb-2">
              <div class="col-md-12 text-center">
                <input type="button" class="btn custom-btn" value="Reset Password" (click)="resetpassword()">
              </div>

            </div>
      </ng-template>


      <!-- <div class="form-row form-group ">
          <div class="col-md-12 text-center sign-btn">
          Dont have an account | <span><a href="signup">Signup</a></span>
          </div>
        </div> -->
    </form>
  </div>
</div>

