<div *ngIf="check(); then loading else nothing">
</div>
<ng-template #loading>
  <app-manualloader></app-manualloader>
</ng-template>
<ng-template #nothing>
</ng-template>

<app-dashboardheader name="{{name}}"></app-dashboardheader>

<div class="container">

  <div class="d-flex content-wrapper">
    <div class="sidebar">
      <app-ec-sidebar></app-ec-sidebar>
    </div>
    <div class="w-100">
      <div class="content">
        <div class="page-title">
          <h1><i class="far fa-file-alt"></i> Create Collection</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="bread-crem">
            <ul>
              <li><a href="#">Collections</a></li> > &nbsp; <li> Create Collection</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="inner-content fill-bg mt-1">
        <div class="row">
          <!--Row-->
          <div class="col-md-6">
            <div class="product-detail-box">
              <div class="p-box-title">Add Description</div>
              <div class="box-content">
                <div class="form-group">
                  <label>Title</label>
                  <input class="form-control" type="text" [(ngModel)]="collection.collectionTitle">
                </div>
                <div class="form-group">
                  <app-ngx-editor [config]="editorConfig" [placeholder]="'Enter text here...'" [spellcheck]="true"
                    [(ngModel)]="collection.collectionDescription" imageEndPoint="http://myApiEndPoint">
                  </app-ngx-editor>
                  <!-- <img style="max-width: 100%;height: 226px;" src="../../../assets/images/edit.png"> -->
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="product-detail-box">
              <div class="p-box-title">Collection Image</div>
              <div class="box-content">
                <div class="uploaded-file">
                  <!-- <a (click)="removeImage()" class="close">x</a> -->
                  <input type="file" (change)="readURL($event);">
                  <label class="drop-file-here"><i class="fas fa-cloud-upload-alt"></i>
                    <span>Drag and Drop a file here</span>
                  </label>
                </div>
              </div>
            </div>

            <div class="uploaded-slides">
              <div class="slide">
                <!-- <a class="close" style="z-index:9999999999 !important;">x</a> -->
                <img style="width: 100%;" src="{{collection.collectionImage}}">
              </div>
            </div>
          </div>
        </div>


        <!-- <div class="row">
          <div class="col-md-6 mt-3">
            <div class="product-detail-box">
              <div class="p-box-title">Assign Products</div>
              <div class="box-content">
                <div class="row">
                  <div class="col-md-12">
                    <div class="feature-img-sec pt-2">
                      <div class="custom-file">
                        <input type="file" class="custom-file-input" id="customFileLangHTML"
                          (change)="readURL($event);">
                        <label class="custom-file-label" for="customFileLangHTML" data-browse="Browse">Search
                          Product</label>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-12 mt-4">
                    <div class="table-responsive border-rounded dark-header">
                      <table class="table table-striped mb-0">
                        <tbody>
                          <tr>
                            <td>1</td>
                            <td>
                              <div class="product-img"><img width="25" height="25"
                                  src="../../../assets/images/product1.jpg"></div>
                            </td>
                            <td><b>Product Name</b></td>
                            <td><a href=""><i class="fa fa-times"></i></a></td>
                          </tr>
                          <tr>
                            <td>2</td>
                            <td>
                              <div class="product-img"><img width="25" height="25"
                                  src="../../../assets/images/product1.jpg"></div>
                            </td>
                            <td><b>Product Name</b></td>
                            <td><a href=""><i class="fa fa-times"></i></a></td>
                          </tr>
                          <tr>
                            <td>3</td>
                            <td>
                              <div class="product-img"><img width="25" height="25"
                                  src="../../../assets/images/product1.jpg"></div>
                            </td>
                            <td><b>Product Name</b></td>
                            <td><a href=""><i class="fa fa-times"></i></a></td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div> -->


        <div class="row">
          <div class="col-md-6 mt-3">
            <a *ngIf="!existingCollectionID" class="float-right btn custom-btn" (click)="createCollection()">Save Collection</a>
            <a *ngIf="existingCollectionID" class="float-right btn custom-btn" (click)="updateCollection()">Update Collection</a>
            <a class="float-right btn custom-btn" target="_blank" href="{{url}}">Preview</a>
          </div>
        </div>
      </div>

    </div>
  </div>

</div>
<app-dashboardfooter></app-dashboardfooter>
