.mg0pd0{margin: 0;padding: 0;}
.mt-10{margin-top: 10px;}
.current-course {
    border: 1px solid #ccc;
    padding: 30px;
    box-shadow: 0 0 3px #ccc;
    background: #fff;
    border-radius: 4px;
    margin-top: 15px;

}
.current-course label {
    font-size: 15px;
    color: #666;
    text-transform: uppercase;
    margin-bottom: 13px;
}

.profile-section {
    background: #eee url(../../../assets/images/head-bg-orange.jpg) repeat;
    padding-top: 28px;
    max-height: 122px;
    border-bottom: 1px solid #ddd;
}

.profile-main-pic {
    width: 180px;
    display: inline-block;
    border: 4px solid #fff;
    box-shadow: 0 0 1px #777;
}
.profile-main-pic img {
    width: 100%;
    height: 100%;
}
.profile-cont {
    display: inline-block;
    vertical-align: bottom;
    padding: 0 25px 10px;
}
.profile-cont label {
    display: block;
    font-size: 25px;
margin-bottom: 3px;
}
.profile-cont span {
    color: #007bff;
}
.quiz-container{margin-bottom: 25px;}
.quiz-container .quiz-title{font-size:28px;margin-bottom: 5px;}
.assignment-container{
    margin-bottom: 15px;
}
.assignment-container .assignment-title{font-size:22px;}
.quiz-container .question-no{font-size:16px;margin-bottom: 5px; margin-top: -12px;}
.quizmain {
    width: 100%;
    background-color: #FFF;
    float: left;
    border-radius: 10px;
}
.quizcontainer {
    padding: 0 20px 40px 0;
}
.quizcontainer h3 {
    font-size: 24px;
}
.qtext {
    font-size: 18px;
    padding: 15px 15px 0 15px;
    color: #000;
    font-weight: 600;
}
.result-container{
    position:relative;
    width:100%;
}
#altcontainer {
    background-color: #fff;
    font-size: 120%;
}
.radiocontainer {
    background-color: #f1f1f1;
    display: block;
    position: relative;
    padding: 10px 10px 10px 50px;
    margin-bottom: 1px;
    font-size: 18px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    word-wrap: break-word;
}
.radiocontainer.correct {
    background-color: #ddd;
}
.radiocontainer.correct.selected {
    background-color: #d4edda;
}
.markcontainer {
    position: absolute;
    left: 15px;
    top: 10px;
}

#answerbuttoncontainer {
    position: relative;
}
.answerbutton {
    color: #FFFFFF;
    background-color: #FF8D37;
}
.inner-content.fill-bg {
    border-radius: 2%;
}
.custom-file{margin-top: 10px;}
.custom-file-label::after {
    background-color: #ff852f;
    color:#FFF;
}
.cancel-btn{
    border-radius: 54px;
    padding: 10px 24px;
    box-shadow: inset 0 0 1px 1px #444;
}