<div class="sidebar-inner">

  <!-- <div class="profile-sec">
      <div class="image-sec">
        <div class="profile-pic">
          <img src="../../assets/images/harry.jpg">
        </div>
        <div class="name">Harry</div>
      </div>
      <div class="profile-complition">
        <div class="full-bar">
          <div class="complition" style="width:50%"></div>
        </div>
        <div class="figure-status">
            Profile <span>50%</span> complete
        </div>
      </div>
  <div class="stats">
    <div class="visitors">
      Monthly visitors
    </div>
    <span class="visitors-counts">5,000</span>
  </div>
  <div class="stats">
      <div class="visitors">
        Contacts
      </div>
      <span class="visitors-counts">2,75,000</span>
    </div>
  
    </div> -->
  <ul>
    <li><a (click)="openDashboard();"><i class="fas fa-tachometer-alt"></i> Dashboard</a></li>
    <li><a (click)="openHeader()"><i class="fas fa-heading"></i> Header</a></li>
    <li><a (click)="openSlider()"><i class="fas fa-star"></i>  Slider</a></li>
    <!-- <li><a ><i class="fa fa-shopping-bag"></i> Collection</a></li>  -->
    <li><a (click)="openImageText()"><i class="fa fa fa-image"></i> Image with text</a></li>
    <li><a (click)="openBestStore()"><i class="fa fa-star"></i> Featured Products</a></li>
    <li><a (click)="openFooter()"><i class="fa fa-minus" style="position:relative;top:6px;"></i> Footer</a></li>
    <!-- <li><a><i class="fa fa-eye"></i> Preview</a></li> -->
  </ul>
</div>
