<div *ngIf="check(); then loading else nothing">
</div>
<ng-template #loading>
  <app-manualloader></app-manualloader>
</ng-template>
<ng-template #nothing>
</ng-template>

<!-- <app-dashboardheader name={{name}}></app-dashboardheader> -->

<div class="{{opacity}}">
  <div class="content">
    <div class="page-title">
      <h1><i class="fas fa-tachometer-alt"></i> Dashboard</h1>
    </div>
  </div>
  <div class="inner-content fill-bg">
    <div class="form-row">
      <div class="col-xl-3 col-lg-6 col-md-6 mb-2">
        <div class="dash-box c-orange">
          <div class="d-count">{{leadsCount}}</div>
          <div class="d-icon"><img src="../../assets/images/d-icon1.png"></div>
          <div class="d-name">Leads</div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-6 col-md-6 mb-2">
        <div class="dash-box c-brown">
          <div class="d-count">{{subscribersCount}}</div>
          <div class="d-icon"><img src="../../assets/images/d-icon4.png"></div>
          <div class="d-name">Subscribers</div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-6 col-md-6 mb-2">
        <div class="dash-box c-gray">
          <div class="d-count">{{ordersCount}}</div>
          <div class="d-icon"><img src="../../assets/images/d-icon3.png"></div>
          <div class="d-name">Orders</div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-6 col-md-6 mb-2">
        <div class="dash-box c-black">
          <div class="d-count">{{monthlyEnrollmentCount}}</div>
          <div class="d-icon"><img src="../../assets/images/d-icon4.png"></div>
          <div class="d-name">Monthly Enrollment</div>
        </div>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-xl-8 mb-2">
        <div class="cover-box">
          <h2 class="heading">Page Visitors</h2>
          <div class="graph1">
            <img src="../../assets/images/graph1.jpg">
          </div>
        </div>
      </div>
      <div class="col-xl-4 mb-2">
        <div class="cover-box">
          <div class="toggle-btn">
            <a href="#" class="days-btn seven-days active ">Last 7 days</a>
            <a href="#" class="days-btn thirty-days">Last 30 days</a>
          </div>
          <div class="other-maps">
            <h3>Gross Revenue</h3>
            <span class="g-date">JUL 05 - JUL 11</span>
            <div class="map-ot"><img src="../../assets/images/small-map.png"></div>
          </div>
          <div class="other-maps">
            <h3>Successful Purchases</h3>
            <span class="g-date">JUL 05 - JUL 11</span>
            <div class="map-ot"><img src="../../assets/images/small-map.png"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>