<div class="sidebar-inner">
  <div class="profile-sec">
      <div class="image-sec">
        <!-- profile image-sec -->
        <div class="profile-pic">
          <img src="../../assets/images/harry.jpg">
        </div>
        <!-- <div class="name">{{name}}</div> -->
      </div>
      <div class="profile-complition">
        <!-- profile-complition -->
        <div class="full-bar">
          <div class="complition" style="width:50%"></div>
        </div>
        <div class="figure-status">
          Profile <span>50%</span> complete
        </div>
      </div>
    </div>
  <ul>
    <li><a class="active" href="#"><i class="fa fa-caret-right"></i> Dashboard</a></li>
    <li><a><i class="fa fa-caret-right"></i> Performance</a></li>
    <li><a href="#"><i class="fa fa-caret-right"></i> Quiz</a></li>
    <li><a href="#"><i class="fa fa-caret-right"></i> Assignments</a></li>

  </ul>
</div>
