<div class="sidebar-inner">
  <ul>
    <li><a><i class="fas fa-tachometer-alt"></i> Dashboard</a></li>
    <li><a href="/funnel-list"><i class="fa fa-home"></i> Funnels</a></li>
    <!-- <li><a ><i class="fa fa-users"></i> Users</a></li> -->
    <li><a href="/funnel-products"><i class="far fa-file-alt"></i> Products</a></li>
    <li><a href="/funnel-contacts"><i class="fa fa-phone"></i> Contacts</a></li>
    <li><a href="/funnel-sales"><i class="fas fa-receipt"></i> Sales</a></li>
    <li><a href="/funnel-stats"><i class="fas fa-chart-line"></i> Stats</a></li>
    <li><a><img src="../assets/images/funnel-affilate-program.png"> Affiliate Program</a></li>
  </ul>
</div>
