<div class="container-fluid">
    <div class="row affiliate-settings affiliate-panel">
        <div class="col-lg-4 col-md-5">
            <div class="box box-white">
<div class="row">
    <div class="col-md-6">
        <h5>First <br>Month Commission</h5>
        <span class="percentage">30%</span>
    </div>
    <div class="col-md-6">
        <h5>Subsequent Months Commission</h5>
        <span class="percentage">25%</span>
    </div>
</div>
</div>
<div class="box box-white">
<div class="row">
    <div class="col-md-12">
        <h5>Obtained accounts</h5>
        <span class="accounts-obtained">0</span>
    </div>
</div>
</div>
</div>
<div class="col-lg-8 col-md-7">
<div class="box box-white reflinks-box">
 <div class="row">
    <div class="col-md-12">
        <h5>Your reference links</h5>
        <div class="row reflink-row">
            <div class="col-md-3 col-lg-2">
                <span class="reflink-title">Registration page</span>
            </div>
            <div class="col-md-6 col-lg-8">
                <input class="reflink form-control" type="text" readonly="" value="https://www.gfunl.com/register?invite=e9l9o3" data-original-title="Link copied to clipboard!" data-placement="top" data-toggle="tooltip" data-trigger="manual">
            </div>
            <div class="col-md-3 col-lg-2">
                <a class="reflink-copy">Copy link</a>
            </div>
        </div>
        <div class="row reflink-row">
            <div class="col-md-3 col-lg-2">
                <span class="reflink-title">gfunl.com</span>
            </div>
            <div class="col-md-6 col-lg-8">
                <input class="reflink form-control" type="text" readonly="" value="https://www.gfunl.com/affiliate-link/e9l9o3" data-original-title="Link copied to clipboard!" data-placement="top" data-toggle="tooltip" data-trigger="manual">
            </div>
            <div class="col-md-3 col-lg-2">
                <a class="reflink-copy">Copy link</a>
            </div>
        </div>
    </div>
</div>
</div>
      </div>
    </div>
</div>
