 <app-dashboardheader></app-dashboardheader>
 <div class="container">
    <div class="d-flex content-wrapper">
      <div class="sidebar"><app-common-settings-sidebar></app-common-settings-sidebar></div>
       <!-- <div class="w-100">
        <app-lp-users-list-settings>
        </app-lp-users-list-settings>
      </div>  -->
    
      <div class="w-100">
        <app-lp-domain-settings>
        </app-lp-domain-settings>
    </div>  
  </div>
  </div>
  
<app-dashboardfooter></app-dashboardfooter>