<div class="row mt-3">
    <div class="col-md-12">
      <div class="cover-box p-0">
        <div class="table-responsive border-rounded dark-header">
        <table class="table table-striped mb-0 toggle-table">
          <thead class="thead-dark-sales">
            <tr>
              <th>Date</th>
              <th>Amount</th>
              <th>Status</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>abc@gfunl.com</td>
              <td>29 Sept. 2019</td>
              <td>200$</td>
              <td class="text-center"><i class="fa fa-trash big-trash"></i>
              </td>
              <td width="50">
                <button class="drop-arrow" type="button" mdbWavesEffect>
                  <i class="fa fa-sort-desc"></i>
                </button>
              </td>
           </tr>
          </tbody>
        </table>
      </div>
      <!-- Pagination -->
      <div class="pagination-sec mt-2">
        <nav aria-label="Page navigation example">
          <ul class="pagination pg-blue justify-content-md-end justify-content-center">
            <li class="page-item disabled"><a class="page-link" tabindex="-1" mdbWavesEffect>Previous</a></li>
            <li class="page-item"><a class="page-link" mdbWavesEffect>1</a></li>
            <li class="page-item disabled"><a class="page-link" tabindex="-1" mdbWavesEffect>Next</a></li>
          </ul>
        </nav>
      </div>
      </div>
    </div>
  </div>
