<app-cb-header></app-cb-header>

    <div class="profile-section">
      <div class="container">        
            <div class="profile-main-pic">
              <img src="../../../assets/images/profile_user.png">
            </div>       
          <div class="profile-cont">
            <label>Prince Kohli</label>
            <span>Prince.kohli@appsimity.com</span>
          </div>
        </div>
        </div>
  
  <div class="container">
      <div class="d-flex content-wrapper">
  <div class="w-100 pl-0">
      <div class="inner-content fill-bg">
        <div class="row">
            <div class="col-md-12">
              <div class="student-title">Courses</div>
            </div>
              <div class="col-md-3">
                <div class="blog-wrap mb-30">
                <div class="blog-img">
                  <img src="https://picsum.photos/640/360" alt="bootcamp Course">
                </div>
                <div class="blog-content">
                <h3>Coaching and consulting bootcamp: Start Your...</h3>
                <p>By Varinder Singh</p>
                
                </div>
                </div>
                </div>
                <div class="col-md-3">
                  <div class="blog-wrap mb-30">
                  <div class="blog-img">
                    <img src="http://lorempixel.com/400/200/sports" alt="">
                  </div>
                  <div class="blog-content">
                  <h3>Coaching and consulting bootcamp: Start Your...</h3>
                  <p>By Varinder Singh</p>
                  
                  </div>
                  </div>
                  </div>
                  <div class="col-md-3">
                    <div class="blog-wrap mb-30">
                    <div class="blog-img">
                      <img src="http://lorempixel.com/400/200/sports/Dummy-Text" alt="">
                    </div>
                    <div class="blog-content">
                    <h3>Coaching and consulting bootcamp: Start Your...</h3>
                    <p>By Varinder Singh</p>
                   
                    </div>
                    </div>
                    </div>
                    <div class="col-md-3">
                      <div class="blog-wrap mb-30">
                      <div class="blog-img">
                        <img src="https://picsum.photos/640/360" alt="">
                      </div>
                      <div class="blog-content">
                      <h3>Coaching and consulting bootcamp: Start Your...</h3>
                      <p>By Varinder Singh</p>
                     
                      </div>
                      </div>
                      </div>
                      <div class="col-md-3">
                          <div class="blog-wrap mb-30">
                          <div class="blog-img">
                            <img src="https://picsum.photos/640/360" alt="">
                          </div>
                          <div class="blog-content">
                          <h3>Coaching and consulting bootcamp: Start Your...</h3>
                          <p>By Varinder Singh</p>
                         
                          </div>
                      </div>
                 </div>  
      </div>
     </div>
    </div> 
   </div>
  </div>
 
  <app-dashboardfooter></app-dashboardfooter>


